{{ partial "header" . }}

<main>

    <article class="text-justify">
        <div class="article-header">
                {{ if .GitInfo }}
                <div class="article-header-date">
                    <a href="{{ .Site.Params.ghrepo }}/commit/{{ .GitInfo.Hash }}" title="{{ .GitInfo.Subject }}">{{ .Lastmod.Format (.Site.Params.dateFormat | default "January 2, 2006") }} 修订
                </div>
                {{ end }}
        {{ if .Params.tags }}
            <div class="article-header-tags hidden-xs">
            {{ range .Params.tags }}
            <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}"><span class="label label-default"><i class="fa fa-tag"></i> {{ . }}</span></a>
            {{ end }}
            </div>
        {{ end }}
        </div>
        <h1>{{ .Title }}</h4>

        {{ .Content }}

        <div class="article-create-date">
            发表于 {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") }}
        </div>

        {{ $related := .Site.RegularPages.Related . | first 5 }}

        {{ if $related }}

            <div>
                <h2>相关推荐</h2>
                {{ range $related }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
            </div>

        {{ end }}

        {{ if and .Site.DisqusShortname (not .Params.disableComments) }}

            <hr/>
            {{ template "_internal/disqus.html" . }}

        {{ end }}
    </article>

</main>

{{ partial "footer.html" . }}
